<!DOCTYPE html>
<html>
  <head>
    <title>Pasanan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= cell(NavCell, nil) %>

    <div class="container">

      <%= yield %>
    </div>
  </body>
</html>
